<section id="about" class="section-reverse">
   <div>
    <h2>Global diversity CFP Day</h2>
    <hr>
    <p>
    <a href="https://www.globaldiversitycfpday.com/">Global Diversity CFP Day</a> (CFP = Call for Proposals o Call for Papers) es un día de charlas y talleres celebrado a nivel mundial. Su misión es conseguir que miembros de grupos infrarrepresentados en el sector de la tecnología aprendan cómo convertirse en ponentes de conferencias técnicas. Este evento que celebramos ahora a nivel global partió de una idea, de un taller en la conferencia ScotlandJS y en su primer año de celebración global se apuntaron 52 ciudades. Este año el número de ciudades ya suma más de 80. ¡Con la participación de todos conseguiremos unas conferencias más diversas!
      </p>
  </div>
 <div>
    <h2>El evento</h2>
    <hr>
    <p>
    Uno de los fines de la asociación <a href="https://vlctechhub.org">VLCTechHub</a> es mejorar la inclusión de grupos infrarrepresentados en las comunidades técnicas locales, por lo que no queríamos perder la oportunidad de participar en esta iniciativa y unirnos a ella. Hemos organizado un evento muy participativo donde, después de presentarnos todos, intercalaremos breves charlas con tiempo de "trabajo" para poder elaborar propuestas. Tanto si ya tienes una idea en la cabeza que no terminas de saber plasmar, como si no se te ocurre nada aún pero te gustaría probar a ser ponente en alguna conferencia, este evento es para ti.
    </p>
  </div>
</section>
