<section id="about" class="section-reverse">
   <div>
    <h2>Software Freedom Day</h2>
    <hr>
    <p>
      <a href="https://www.softwarefreedomday.org">Software Freedom Day</a> es una manyana de charlas y conversaciones que giran en torno al Software Libre y que aporta este a la sociedad. Este dia es una celebracion global alrededor del Software Libre. Desde VLCTechHub, le damos una vuelta y en vez de centrarnos unicamente en el codigo, queremos hablar del impacto que tiene, ayudandonos en nuestro dia a dia, como nos protege o defiende nuestros derechos.
    </p>
  </div>
 <div>
    <h2>El evento</h2>
    <hr>
    <p>
      Uno de los fines de la asociación <a href="https://vlctechhub.org">VLCTechHub</a> es promover la tecnología, su uso y entendimiento por parte de la ciudadanía en general. La tecnología nos rodea, estamos acostumbrados a consumir tecnología. Pero son pocos los que la entienden y crean con ella, lo que genera una brecha digital que será significativa en los próximos años.
    </p>
    <p>
      El Software Libre es uno de los grandes agentes de la construccion de tecnologia y ademas, el unico que defiende y empodera al ciudadano. En este evento, intentaremos ver y debatir el como lo hace.
    </p>
  </div>
</section>
