<div class="logo">
  <a href="/" rel="canonical">
    <img src="assets/images/logo.png" alt="VLCTechHub">
  </a>
  <span class="heart">
    &hearts;
  </span>
  <a href="https://www.softwarefreedomday.org" class="event">
    <img src="assets/images/logo-fsd.png" alt="Software Freedom Day">
  </a>
</div>
<header>
  <section id="intro">
    <h1 class="title">Software Freedom Day</h1>
    <h2>21 de septiembre 2019 / 09:30h - 13:30h / ETSINF </h2>
    <h3><strong>¿Cómo contribuye el Software Libre a nuestra sociedad?</br>Ven al Software Freedom Day a descubrirlo.</strong><br><br>
    <a href="https://vlctechub.org">VLCTechHub</a> se une a la iniciativa del <a href="https://www.softwarefreedomday.org">Software Freedom Day</a>.
  </section>
</header>
