<div class="logo">
  <a href="/" rel="canonical">
    <img src="assets/images/logo.png" alt="VLCTechHub">
  </a>
  <span class="heart">
    &hearts;
  </span>
  <a href="https://www.globaldiversitycfpday.com" class="event">
    <img src="assets/images/logo-gdcfp.jpg" alt="Global diversity CFP day">
  </a>
</div>
<header>
  <section id="intro">
    <h1 class="title">Global diversity CFP Day</h1>
    <h2>2 de marzo 2019 / 09:30h - 13:30h / Social Nest</h2>
    <h3><strong>¿Quieres convertirte en ponente de conferencias técnicas?</br>¿Eres miembro de un grupo infrarrepresentado?</strong><br><br>
      <a href="https://vlctechub.org">VLCTechHub</a> se une a la iniciativa <a href="https://www.globaldiversitycfpday.org">Global Diversity CPF Day</a> para que des tu primera charla en 2019.
    <p>
      <a class="cta" href="{{site.attendees_form}}" target="_blank">Consigue tu entrada</a>
    </p>
  </section>
</header>
