<section id="schedule">
  <div class="section-heading">
    <h2>Agenda</h2>
    <hr>
    <p> El contenido de la agenda podría sufrir alguna modificación de última hora a criterio de los organizadores.<p>

    <table class="table lead table-hover schedule-table">
      <thead>
        <tr>
          <th>Hora</th>
          <th></th>
        </tr>
      </thead>
      {% assign events = site.data.schedule.day1 %}
      {% for event in events %}
      <tr>
        <td class="time">{{ event.time }}</td>
        <td>{{ event.name }}
          {% if event.description %}
            <p>{{event.description}}</p>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</section>
